CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FELICITY_API_BASE_URL="http://192.168.1.10:8000"
CONFIG_FELICITY_WIFI_SSID=""
CONFIG_FELICITY_WIFI_PASSWORD=""
CONFIG_FELICITY_NEXTION_TX_GPIO=4
CONFIG_FELICITY_NEXTION_RX_GPIO=5
CONFIG_FELICITY_NEXTION_BAUD=115200
