__pycache__/
*.py[cod]
.venv/
data/
.env
.DS_Store
.refact/
build*/
android/.gradle/
android/local.properties
android/app/build/
eim_config.toml
esp32/sdkconfig
esp32/sdkconfig.hardware
esp32/sdkconfig.qemu.generated
esp32/sdkconfig.onboarding
esp32/managed_components/
**/xcuserdata/
*.xcuserstate
